@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --primary-color: #00D1FF;
  --secondary-color: #00FFF0;
  --primary-color-light: #fd1d1d;
  --secondary-color-light: #fcb045;
  --grayd: #3D3D3D;
  --grayl: #CACACA;
  --white: #EAEAEA;
  --light: #F8F9FA;
  --black: #1B1C1E;
  --dark:  #0C0C0C;
  --dark-blue: #212327;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  list-style: none;

  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--grayd) transparent; 
}

body {
  background: var(--dark);
  font-size: 100%;
  color: var(--grayl); /* paragraph text */
}

a {
  color: var(--grayl);
}

.title-header {
  display: none;
}

/* SCROLLBAR STYLE (Chrome, Edge, Safari Style) */
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

body::-webkit-scrollbar-thumb {
  background: var(--grayd);
}
/* SCROLLBAR END */

/* PROGRESS STYLE */
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

progress { /* remove style default */
  display:block;
  -webkit-appearance: none;
  border: none;
  border-radius: 1rem;
}

progress::-webkit-progress-bar { /* background bar */
  background: var(--dark-blue);
  border-radius: 1rem;
  padding: 0.15rem;
  height: 0.8rem;
}

progress::-moz-progress-bar {  /* background bar */
  background: var(--grayd);
  border-radius: 1rem;
  padding: 0.15rem;
  height: 0.8rem;
}

progress::-webkit-progress-value { /* fill progress */
  border-radius: 1rem;
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
  box-shadow: 0 0 0.4rem var(--dark); 
}

progress::after { /* percent text */
	content: attr(data-content);
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--grayl);
  margin: -1.45rem 0 0 10.5rem;
}
/* PROGRESS STYLE END */

/* TOGGLE MENU STYLE */
#toggle-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4.5rem;
  height: 100%;
  position: fixed;
}

#toggle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: 1s;
}

#toggle-button-icon::before { /* line top */
  content: '';
  display: block;
  width: 2.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background: currentColor;
  margin-top: -0.91rem;
  transition: transform .6s;
}

#toggle-button-icon { /* line center */
  border-top: 0.25rem solid;
  border-radius: 1rem;
  width: 2.25rem;
  height: 0.25rem;
  color: var(--dark);
}

#toggle-button-icon::after { /* line end */
  content: '';
  display: block;
  width: 2.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background: currentColor;
  margin-top: 1.1rem;
  transition: transform .6s;
}

#toggle-bar.active #toggle-button-icon { 
  border-top: transparent; 
}

#toggle-bar.active #toggle-button-icon::before {
  transform: rotate(-135deg);
  margin-top: 0.15rem;
}

#toggle-bar.active #toggle-button-icon::after {
  transform: rotate(135deg);
  margin-top: -0.3rem;
}

#toggle-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#toggle-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 4.5rem;
  height: 100%;
  display: none;
}

#toggle-bar.active #toggle-menu-list {
  animation: down-menu 1s;
  display: block;
}

@keyframes down-menu {
  from {
    transform: translateY(-30rem);
  }
  to {
    transform: translateY(0);
  }
}

.toggle-menu-icons{
  text-align: center;
  font-size: 1.5rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--grayl);
  color: transparent;
  padding: 0.8rem;
}

.toggle-menu-icons:hover{
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--secondary-color);
  color: transparent;
}

.toggle-menu-icons.active{
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--secondary-color);
  color: transparent;
  border-left: 0.2rem solid;
  border-image: linear-gradient(to top, var(--secondary-color), var(--primary-color)) 1;  
}

.toggle-menu-text{
  display: none;
  position: absolute;
  background: var(--dark); 
  opacity: 85%;

  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  color: var(--secondary-color);

  margin: -4.1rem 4.5rem;
  padding: 1.4rem;
}

#toggle-bar.active #toggle-menu-list li:hover .toggle-menu-text { /* icon hover text visible */
  display: flex;
}
/* TOGGLE MENU END */

/* SWITCH STYLE */
.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 1rem;
}

.switch { /* switch button box */
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 4rem;
}

.switch input { /* remove style default */
  appearance: none;
}

.slider { /* dark mode */
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  cursor: pointer;
  background: var(--dark-blue);
  border: 0.06rem solid var(--dark);
  border-radius: 1rem;
  box-shadow: inset 0 0 0.125rem var(--grayd);
  transition: .4s;
}

.slider::before{  /* moon icon */
  position: absolute;
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  left: 0.2rem;
  bottom: 0.2rem;
  border-radius: 1rem;
  box-shadow: inset 0.8rem -0.5rem 0.3rem -0.5rem var(--primary-color) /* fill, rotate, fade, fill */ , 
              inset 0.5rem -0.3rem 0 0.1rem var(--secondary-color) /* fill, rotate, fade, right inner curve */; 
  transition: .4s;
}

input:checked + .slider { /* light mode */
  background: var(--light);
  border: 0.02rem solid var(--grayl);
  border-radius: 1rem;
  box-shadow: inset 0 0 0.125rem var(--grayd);
}

input:checked + .slider:before { /* sun icon */
  transform: translateY(-2rem);
  box-shadow: inset 1rem 1rem 0.4rem -0.5rem var(--primary-color-light), 
              inset 1rem 2rem 0.3rem -0.6rem var(--secondary-color-light);
}
/* SWITCH END */

/* INTRODUCTION STYLE */
#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 4.5rem;
}

.intro-content1 {
  width: 25rem;
  height: 50rem;
  background: linear-gradient(rgba(21,21,21,0), rgba(21,21,21,0), rgba(21,21,21) 100%), url('../img/photo-intro.jpg') no-repeat center;
  background-size: cover;
}

.intro-content2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45.5rem;
  padding: 3rem 0 4rem 0;
  margin-left: 4.5rem;
}

.intro-text-gradient {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  background: linear-gradient(to top, var(--secondary-color), var(--primary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.intro-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem 0;
  color: var(--white); 
}

.intro-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.4rem;
  text-align: justify;
}

.intro-buttons-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.button-gradient {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
  border: 0.125rem solid;
  border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 1;
  padding: 0.7rem 1rem;
  user-select: none;
  transition: .4s;
}

.button-gradient:hover {
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
  border: 0.125rem solid;
  border-image: linear-gradient(to right, var(--secondary-color), var(--primary-color)) 1;
  cursor: pointer;
  transition: .4s;
}

#menu-social-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.9rem;
  padding: 1.5rem 0;
  font-size: 2.15rem;
  color: var(--white);
}

.menu-social-items > a:hover {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}
/* INTRODUCTION END */


/* SECTION DEFAULT STYLE */
.section-icons {
  font-size: 2rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--secondary-color);
  color: transparent; 
}

.section-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 1rem 0 1rem;
  color: var(--white); 
}

.section-paragraph {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.85rem;
}

.section-subtitle {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.35rem;
  font-weight: 700;
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}
/* SECTION DEFAULT END */

/* ABOUT ME STYLE */
.section-about {
  display: flex;
  flex-flow: row wrap;
  padding: 6.5rem 0 8rem 8.5rem;
}

.about-content1 {
  display: flex;
  flex-direction: column;
  width: 45.5rem;
  margin-right: 5rem;
}

.about-content1 .section-paragraph {
  margin-bottom: 0.5rem;
}

#tabbed-skills-list{ /* menu tabbed list */
	float: left;
  height: 2.75rem;
	border-bottom: 0.125rem solid var(--dark-blue);
	width: 100%;
  margin-top: 1rem;
}

#tabbed-skills-list li{ /* button menu tabbed default */
  position: relative;
	float: left;
  padding: 0.55rem 1rem;
  height: 2.75rem;
	color: var(--white);
  overflow: hidden;
  cursor: pointer;
}

#tabbed-skills-list li:hover{ /* button menu tabbed hover */
  border-bottom: 0.15rem solid;
  border-image: linear-gradient(to left, var(--primary-color), var(--secondary-color)) 1;
  transition: 0.3s;  
}

#tabbed-skills-list li.active { /* button skills active */
  border-bottom: 0.15rem solid;
  border-image: linear-gradient(to left, var(--secondary-color), var(--primary-color)) 1;
  transition: 0.3s;
}

#tabbed-menu-hardskills, #tabbed-menu-softskills{
  font-size: 1.125rem;
  font-weight: 500;
}

#tabbed-skills-container {
	clear: both;
	float: left;
	width: 100%;
	overflow: auto;
  font-size: 1rem;
  font-weight: 401;
}

.tabbed-skills-title, #softskills-content{ 
  display: none;
}

#hardskills-content, #softskills-content.active{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.3rem 1rem;
}

.tabbed-content-icon{
  font-size: 1.3rem;
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-right: 1rem;
}

.tabbed-content-title { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tabbed-content-title h3 { 
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  background: linear-gradient(to top, var(--secondary-color), var(--primary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.languages-content, .tools-content, .softwares-content{
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0 1.5rem;
}

.tools-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.tools-list > li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  line-height: 1.9rem;
}


.softwares-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 2.5rem;
}

.softwares-icons {
  font-size: 1rem;
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.125rem;
  margin-left: 1rem;
  user-select: none;
}

#softskills-list {
  line-height: 2rem;
  margin: 1rem 0 0 1.5rem;
}

#softskills-list li{
  list-style-type: disc;
  color: var(--primary-color);
}

#softskills-list li p{
  color: var(--grayl)
}

.about-content2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:flex-start;
}

.about-avatar {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid var(--grayd);
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 100%;
  user-select: none;
}

.hobbies-list > li > a {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.25rem;
  color: var(--grayl);
}

.hobbies-items {
  display: flex;
  flex-flow: row wrap;
  line-height: 2rem;
}

.hobbies-items:hover {
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hobbies-icons {
  width: 1.5rem;
  font-size: 1.5rem;
  color: var(--grayl);
  margin-right: 1rem;
  text-align: center;
}
/* ABOUT ME END */

/* EDUCATION STYLE */
.section-education {
  display: flex;
  flex-flow: row wrap;
  padding: 6.5rem 0 8rem 8.5rem;
}

.education-content1 {
  display: flex;
  flex-direction: column;
  width: 45.5rem;
  margin-right: 5rem;
}

#education-timeline {
  position: relative;
  margin-top: 1rem;
}

#education-timeline::before{  /* circle unchecked  */
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: -0.5rem;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.2rem solid var(--dark-blue);
  border-radius: 100%;
  background: var(--dark);
}

#education-timeline::after{  /* circle checked */
  content: '';
  position: absolute;
  display: block;
  top: 1.4rem;
  left: -0.5rem;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.2rem solid var(--dark-blue);
  border-radius: 100%;
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

#education-timeline ul {
  margin: 0;
  padding: 0;
}

#education-timeline ul::before {  /* line */
  content: '';
  position: absolute;
  top: 2.5rem;
  left: 0.2rem;
  width: 0.2rem;
  height: 42%;
  background: var(--dark-blue);
  z-index: -1000;
}

#education-timeline ul li {
  position: relative;
  padding: 1.25rem 3rem;
}

.education-timeline-time {
  font-size: 1.25rem;
}

.education-timeline-note {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0.65rem 0;
  gap: 0.65rem;
}

.education-timeline-note i { /* award icon*/
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;  
}

.education-timeline-note p { /* award text */
  color: var(--white);
}

.education-content2 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

#education-list {
  margin: 0.5rem 0 1rem 1.25rem;
  font-size: 1.15rem;
}

#education-list li{
  list-style-type: disc;
  color: var(--primary-color);
}

#education-list li p{
  color: var(--grayl)
}
/* EDUCATION END */

/* PROJECTS STYLE */
.section-projects {
  display: flex;
  flex-flow: row wrap;
  padding: 6.5rem 0 8rem 8.5rem;
}

.projects-content1 {
  display: flex;
  flex-direction: column;
  width: 70.5rem;
  margin-right: 5rem;
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

#projects-list {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin-left: -1rem;
}

#projects-list > li {
  padding: 1rem;
}

.projects-card {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--dark-blue);
  overflow-x: hidden;
  transition: .4s;
}

.projects-card:hover{
  -webkit-box-shadow: 0 0.2rem 1rem rgb(40, 40, 40, 0.7);
  box-shadow: 0 0.15rem 1rem rgb(40, 40, 40, 0.7);
  transition: .4s;
}

.projects-card:hover .pcard-cover{
  transform: scale(1.04);
  transition: .4s;
}

.pcard-cover {
  width: 100%;
  height: 100%;
}

.pcard-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pcard-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 12rem;
}

.pcard-tags-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: left;
  margin-top: 0.5rem;
  user-select: none;
}

.pcard-tags {
  font-size: 1rem;
  color: var(--grayl);
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 5rem;
  background: var(--dark-blue);
}

.pcard-footer {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
  border-top: 0.1rem solid var(--dark-blue);
  padding: 0.8rem 1.2rem;
}

.pcard-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.pcard-button {
  font-size: 2rem;
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;  
  text-align: right;
  margin-left: 1rem;
  transition: .4s;
  transform: scale(1);
}

.pcard-button:hover {
  transition: .4s;
  transform: scale(1.1);
}

.projects-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.projects-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}
/* PROJECTS END */


/* CONTACT STYLE */
.section-contact {
  display: flex;
  flex-flow: row wrap;
  padding: 6.5rem 0 6rem 8.5rem;
}

.contact-content1 {
  display: flex;
  flex-direction: column;
  width: 45.5rem;
  margin-right: 5rem;
}

#menu-social-contact {
  display: flex;
  flex-flow: row wrap;
  gap: 0.9rem;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

#menu-social-contact i:hover {
  opacity: 80%;
}

#contact-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.contact-items > a{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--white);
  margin-bottom: 0.25rem;
}

.contact-icons {
  font-size: 1.5rem;
  background: linear-gradient(var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-right: 0.8rem;
}

.contact-icons > .fa-location-dot {
  margin-left: 0.25rem;
}


/* CONTACT END */


/* FOOTER STYLE */
.section-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 6.5rem 4rem 2.15rem 8.5rem;
}

.footer-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1rem;
}

.up-container {
  text-align: right;
}

.up {
  font-size: 2rem;
  color: #545454;
  transition: .4s;
}

.up:hover {
  font-size: 2rem;
  background: linear-gradient(to left, var(--primary-color), var(--secondary-color));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* FOOTER END */