:root{
    --blue: #00D1FF;
    --green: #00FFF0;
    --black: #1B1C1E;
    --grayd: #545454;
    --grayl: #CACACA;
    --white: #FAFAFA;
    --light: #F8F9FA;
    --dark:  #1B1C1E;
  }


body.light-mode {
    background: var(--light);
    color: var(--grayd); /* paragraph text */
}

a.light-mode {
    color: var(--grayd);
}

h2.light-mode {
    color: var(--black);
}
  
/* SCROLLBAR STYLE (Chrome, Edge, Safari Style) */
body.light-mode::-webkit-scrollbar-track {
    background: var(--light);
}
  
body.light-mode::-webkit-scrollbar-thumb {
    background-color: var(--grayl);
    border-radius: 1rem;
}
/* SCROLLBAR END */


/* SECTION DEFAULT STYLE */
.section-title.light-mode {
    color: var(--black);
}
/* SECTION DEFAULT END */


/* TOGGLE MENU STYLE */
#toggle-btn-icon.light-mode {
    color: var(--white);
}

.toggle-menu-icons.light-mode {
    -webkit-text-stroke-color: var(--grayd);
}

.toggle-menu-text.light-mode {
    background: var(--white); 
}
/* TOGGLE MENU END */


/* INTRODUCTION STYLE */
.intro-title.light-mode {
    color: var(--black); 
}

.intro-description.light-mode {
    color: var(--grayd); 
}
/* INTRODUCTION END */

/* PROJECTS STYLE */
  .projects-card.light-mode {
    border: 0.1rem solid var(--grayl);
  }
/* PROJECTS STYLE END */