@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
  --blue: #00D1FF;
  --green: #00FFF0;
  --black: #1B1C1E;
  --grayd: #545454;
  --grayl: #CACACA;
  --white: #FAFAFA;
  --light: #F8F9FA;
  --dark:  #1B1C1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--dark) var(--grayd); 
}

body {
  background: var(--dark);
  font-size: 100%;
  color: var(--grayl); /* paragraph text */
}

a {
  color: var(--grayl);
}

/* SCROLLBAR STYLE (Chrome, Edge, Safari Style) */
body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--grayd);
  border-radius: 1rem;
}
/* SCROLLBAR END */

/* TOGGLE MENU STYLE */
#toggle-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4.5rem;
  height: 100%;
  position: fixed;
}

#toggle-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  background: linear-gradient(to right, var(--blue), var(--green));
  border: none;
  cursor: pointer;
  z-index: 10000;
}

#toggle-btn-icon::before { /* line top */
  content: '';
  display: block;
  width: 2.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background: currentColor;
  margin-top: -0.91rem;
  transition: .6s;
}

#toggle-btn-icon { /* line center */
  border-top: 0.25rem solid;
  border-radius: 1rem;
  width: 2.25rem;
  height: 0.25rem;
  color: var(--black);
}

#toggle-btn-icon::after { /* line end */
  content: '';
  display: block;
  width: 2.25rem;
  height: 0.25rem;
  border-radius: 1rem;
  background: currentColor;
  margin-top: 1.1rem;
  transition: .6s;
}

#toggle-nav.active #toggle-btn-icon { 
  border-top: transparent; 
}

#toggle-nav.active #toggle-btn-icon::before {
  transform: rotate(-135deg);
  margin-top: 0.15rem;
}

#toggle-nav.active #toggle-btn-icon::after {
  transform: rotate(135deg);
  margin-top: -0.3rem;
}

#toggle-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 4.5rem;
  height: 100%;
  visibility: hidden;
}

#toggle-nav.active #toggle-menu {
  animation: down-menu 1s;
  visibility: visible;
}

@keyframes down-menu {
  from {
    transform: translateY(-30rem);
  }
  to {
    transform: translateY(0);
  }
}

.toggle-menu-icons{
  text-align: center;
  font-size: 1.5rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--grayl);
  color: transparent;
  padding: 1rem;
}

.toggle-menu-icons:hover{
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--green);
  color: transparent;
  border-left: 0.2rem solid;
  border-image: linear-gradient(to top, var(--green), var(--blue)) 1;
}

.toggle-menu-text{
  display: block;
  position: absolute;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  color: var(--green);
  background: var(--black); 
  opacity: 85%;
  visibility: hidden;
  margin: -4.2rem 4.5rem;
  padding: 1.32rem;
}

#toggle-nav.active #toggle-menu li:hover .toggle-menu-text { /* icon hover text visible */
  width: 8.5rem;
  visibility: visible;
}
/* TOGGLE MENU END */

/* SWITCH STYLE */
.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 1rem;
}

.switch { /* switch button box */
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 4rem;
}

.switch input { /* remove style default */
  appearance: none;
}

.slider { /* dark mode */
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  cursor: pointer;
  background-color: #1F1F1F;
  border: 0.06rem solid #151515;
  border-radius: 1rem;
  box-shadow: inset 0 0 0.125rem var(--grayd);
  transition: .4s;
}

.slider::before{  /* moon icon */
  position: absolute;
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  left: 0.2rem;
  bottom: 0.2rem;
  border-radius: 1rem;
  box-shadow: inset 0.8rem -0.5rem 0.3rem -0.5rem var(--blue) /* fill, rotate, fade, fill */ , 
              inset 0.5rem -0.3rem 0 0.1rem var(--green) /* fill, rotate, fade, right inner curve */; 
  transition: .4s;
}

input:checked + .slider { /* light mode */
  background-color: var(--light);
  border: 0.02rem solid var(--grayl);
  border-radius: 1rem;
  box-shadow: inset 0 0 0.125rem var(--grayd);
}

input:checked + .slider:before { /* sun icon */
  transform: translateY(-2rem);
  box-shadow: inset 1rem 1rem 0.4rem -0.5rem var(--blue), 
              inset 1rem 2rem 0.3rem -0.6rem var(--green);
}
/* SWITCH END */

/* INTRODUCTION STYLE */
.section-intro {
  display: flex;
  flex-flow: row wrap;
  padding: 8rem 0 8rem 8.5rem;
}

.intro-content1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 4rem;
}

.intro-category {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  background: linear-gradient(to right, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.intro-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: var(--white); 
}

.intro-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.4rem;
  text-align: justify;
}

.technologies-list {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  letter-spacing: 1.25rem;
  background: linear-gradient(var(--blue), var(--green));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 1rem 0 1rem 0;
}

.intro-btns {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.btn-gradient {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  background: linear-gradient(to right, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
  user-select: none;
  border: 0.125rem solid;
  border-image: linear-gradient(to right, var(--blue), var(--green)) 1;
  padding: 0.7rem 1rem;
}

.btn-gradient:hover {
  opacity: 0.6;  
  cursor: pointer;
  transition: .4s;
}

.btn-default {
  background: none;
  border: 0.125rem solid var(--grayl);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--grayl); 
  user-select: none;
  padding: 0.7rem 1rem;
  margin-left: 0.5rem;
}

.btn-default:hover {
  opacity: 0.6;  
  cursor: pointer;
  transition: .4s;
}

.intro-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-logo {
  width: 7rem;
  height: 7rem;
}

.menu-social-list {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem;
}

.menu-social-items > a {
  font-size: 2rem;
  color: var(--white);
  padding: 0.5rem;
}

.menu-social-items > a:hover {
  background: linear-gradient(to right, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-items > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--white);
  margin-bottom: 0.25rem;
}

.contact-icons {
  font-size: 1.5rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--green);
  color: transparent; 
  margin-right: 0.8rem;
}

.contact-icons > .fa-location-dot {
  margin-left: 0.25rem;
}
/* INTRODUCTION END */


/* SECTION DEFAULT STYLE */
.section-icons {
  font-size: 2rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--green);
  color: transparent; 
}

.section-category {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #8A8A8A;
  text-transform: uppercase;
}

.section-title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 1rem 0 1rem;
  color: var(--white); 
}

.section-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.25rem;
  text-align: justify;
}

.section-subtitle {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  background: linear-gradient(to left, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}
/* SECTION DEFAULT END */

/* ABOUT ME STYLE */
.section-about {
  display: flex;
  flex-flow: row wrap;
  padding-top: 6.5rem;
  padding-bottom: 8rem;
  padding-left: 8.5rem;
}

.about-content1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 5rem;
}

.languages{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  background: linear-gradient(to left, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.languages-icon{
  font-size: 3rem;
  background: linear-gradient(var(--blue), var(--green));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-right: 1rem;
}

.softskills-list > li {
  display:block;  
  font-size: 1.25rem;
  color: var(--grayl); 
  line-height: 2rem;
}

.softskills-list > li:nth-child(odd) {         
  clear:both;
  float:left;  
  width:35%;
}

.about-content2 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about-avatar {
  width: 17rem;
  height: 17rem;
  border-radius: 60%;
  border: 0.1rem solid var(--grayd);
  object-fit: cover;
  margin-bottom: 1rem;
}

.hobbies-list > li > a {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.25rem;
  color: var(--grayl);
}

.hobbies-items {
  display: flex;
  flex-flow: row wrap;
  line-height: 2rem;
}

.hobbies-items:hover {
  background: linear-gradient(to left, var(--blue), var(--green)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hobbies-icons {
  width: 1.5rem;
  font-size: 1.5rem;
  color: var(--grayl);
  margin-right: 1rem;
  text-align: center;
}
/* ABOUT ME END */

/* EDUCATION STYLE */
.section-education {
  display: flex;
  flex-flow: row wrap;
  padding-top: 6.5rem;
  padding-bottom: 8rem;
  padding-left: 8.5rem;
}

.education-content1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 5rem;
}

.education-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
}

.education-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #333740;
  border-radius: 0.4rem;
  border-left: 0.75rem solid;
  border-image: linear-gradient(var(--blue), var(--green)) 27; 
  padding: 1rem 1rem 1.5rem;
  margin-top: 1.5rem;
}

.ecard-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--white); 
  text-align: right;
  margin-right: 2rem;
}

.ecard-content2 {
  display: flex;
  flex-direction: column;
}

.ecard-note {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1.2rem;
  color: var(--grayl);
  margin: 0.7rem 0 0;
}

.ecard-note > i {
  font-size: 1.5rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: var(--green);
  color: transparent;
  margin-right: 0.5rem;
}

.education-content2 {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.softwares-list > li {
  font-size: 1.25rem;
  color: var(--grayl); 
}

.softwares-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 2.5rem;
}

.softwares-icons {
  font-size: 1.3rem;
  background: linear-gradient(var(--blue), var(--green));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.125rem;
  margin-left: 1rem;
  user-select: none;
}
/* EDUCATION END */

/* PROJECTS STYLE */
.section-projects {
  display: flex;
  flex-flow: row wrap;
  padding-top: 6.5rem;
  padding-bottom: 8rem;
  padding-left: 8.5rem;
}

.projects-content1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 5rem;
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.projects-list {
  display: grid;
  grid-auto-flow: column dense;
  margin-left: -1rem;
}

.projects-list > li {
  padding: 1rem;
}

.projects-card {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--grayd);
  height: 29rem;
  overflow: auto;
}

.pcard-cover {
  width: 100%;
}

.pcard-cover-img {
  width: 100%;
}

.pcard-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.pcard-tags-container {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: left;
  margin-top: 1rem;
}

.pcard-tags {
  font-size: 1.125rem;
  color: var(--black);
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 5rem;
  background: var(--grayl);
}

.pcard-footer {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-between;
  border-top: 0.1rem solid var(--grayd);
  padding: 1rem;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

progress { /* remove style default */
  display:block;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar { /* background bar */
  background: var(--grayd);
  border-radius: 1rem;
  padding: 0.15rem;
  height: 0.8rem;
}

progress::-moz-progress-bar {  /* background bar */
  background: var(--grayd);
  border-radius: 1rem;
  padding: 0.15rem;
  height: 0.8rem;
}

progress::-webkit-progress-value { /* fill progress */
  border-radius: 1rem;
  background: linear-gradient(to left, var(--blue), var(--green));
  box-shadow: 0 0 0.4rem #151515; 
}

progress::after { /* percent text */
	content: attr(data-content);
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--grayl);
  margin: -1.15rem 0 0 10.5rem;
}

.projects-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.projects-btn {
  font-size: 2rem;
  background: linear-gradient(var(--blue), var(--green));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;  
  text-align: right;
  margin-left: 1rem;
  transition: .4s;
  transform: scale(1);
}

.projects-btn:hover {
  transition: .4s;
  transform: scale(1.2);
}

.projects-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
}
/* PROJECTS END */

/* FOOTER STYLE */
.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 4rem;
}

.footer-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.up-container {
  position: fixed;
  text-align: center;
  top: 90%;
  bottom: 5%;
  left: 96%;
}

.up {
  font-size: 2rem;
  color: #545454;
  transition: .4s;
}

.up:hover {
  font-size: 2rem;
  background: linear-gradient(var(--blue), var(--green));  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* FOOTER END */