@media screen and (max-width: 1024px) {
    /* PROJECTS STYLE */ 
    .projects-gallery {
        overflow: hidden;
        width: 70vw;
        margin: 2rem 0 2rem -2rem;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: 1rem 2rem;
        width: 480vw;
    }
    
    .slide {
        width: 65vw;
        margin: 0;
        transition: .5s;
        margin-right: 2rem;
    }
    
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
    
    #slide2:checked ~ .s1{
        margin-left: -69vw;
    }
    
    #slide3:checked ~ .s1{
        margin-left: -138vw;
    }

    .bar.mobile{
        display: block;
    }

    #slide4:checked ~ .s1{
        margin-left: -207vw;
    }

    #slide5:checked ~ .s1{
        margin-left: -276vw;
    }

    #slide6:checked ~ .s1{
        margin-left: -345vw;
    }
    /* PROJECTS STYLE END */
}

@media screen and (max-width: 700px) {
    html, body {
        overflow-x: hidden;
    }

    .header-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--light);
        background: var(--dark);
        padding: 0.75rem;
        box-shadow: 0 0 0.5rem var(--dark-blue); 
        z-index: 3;
    }

    body.light-mode .header-title {
        color: var(--dark);
        background: var(--light);
        box-shadow: 0 0 0.3rem var(--grayl); 
    }

    /* TOGGLE MENU STYLE */
    #logo {
        display: none;
    }
    
    #toggle-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        position: fixed;
        margin: 0;
        background: var(--dark);
        z-index: 100;
        user-select: none;
    }

    body.light-mode #toggle-bar {
        background: var(--light);
    }

    #toggle-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 4.5rem;
        height: 4.5rem;
        border: none;
        cursor: pointer;
        z-index: 3;
        transition: 1s;
    }

    #toggle-button, body.light-mode #toggle-button {
        position: fixed;
        top: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        background: transparent;
        z-index: 4;
    }

    #toggle-button-icon::before { /* line top */
        content: '';
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0;
        background: currentColor;
        margin-top: -0.71rem;
        transition: .6s;
    }
      
    #toggle-button-icon { /* line center */
        border-top: 0.2rem solid;
        border-radius: 0;
        width: 1.5rem;
        height: 0.2rem;
        color: var(--light);
    }

    body.light-mode #toggle-button-icon{
        color: var(--dark);
    }
      
    #toggle-button-icon::after { /* line end */
        content: '';
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0;
        background: currentColor;
        margin-top: 0.8rem;
        transition: .6s;
    }

    #toggle-bar.active #toggle-button-icon::before {
        transform: rotate(-135deg);
        margin-top: 0;
    }
      
    #toggle-bar.active #toggle-button-icon::after {
        transform: rotate(135deg);
        margin-top: -0.2rem;
    }

    #toggle-nav {
        display: none;
        width: 100%;
    }

    #toggle-bar.active #toggle-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: var(--dark);
        animation: down-menu 1s;
    }

    body.light-mode #toggle-bar.active #toggle-nav{
        background: var(--light);
        animation: down-menu 1s;
    }

    #toggle-bar.active #toggle-menu-list{
        animation: down-menu 1s;
    }
      
      @keyframes down-menu {
        from {
          transform: translateY(-20rem);
        }
        to {
          transform: translateY(0);
        }
    }

    #toggle-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        z-index: 1;
    } 

    .toggle-menu-items a{
        width: 100%; 
    } 

    .toggle-menu-icons{
       display: none;
    }

    .toggle-menu-text {
        display: none;
        position: relative;
        width: 100%;
        background: transparent; 
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        white-space: nowrap;
        color: var(--white);
        box-shadow: none;
        margin: 0.1rem 0 0.2rem 3.65rem;
    }

    #toggle-bar.active .toggle-menu-text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }


    .toggle-menu-items.active .toggle-menu-text, .toggle-menu-text:hover{
        color: var(--primary-color); 
    } 

    .toggle-menu-text::before{ /* triangle tag menu */
        display: none;
    }


    body.light-mode .toggle-menu-text {
        background: transparent; 
        color: var(--black);
    }
    /* TOGGLE MENU END */

    /* SWITCH STYLE */
    .switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.2rem;
    z-index: 3;
    position: absolute;
    left: 0;
    margin: 0.9rem 4.5rem 0 0;
    }

    .switch { /* switch button box */
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    }

    .switch input { /* remove style default */
    appearance: none;
    }

    .slider { /* dark mode */
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    cursor: pointer;
    background: var(--dark-blue);
    border: 0.025rem solid var(--dark);
    border-radius: 1rem;
    box-shadow: inset 0 0 0.05rem var(--grayd);
    transition: .4s;
    }

    .slider::before{  /* moon icon */
        position: absolute;
        content: " ";
        width: 1.1rem;
        height: 1.1rem;
        left: 0.16rem;
        bottom: 0.15rem;
        border-radius: 1rem;
        box-shadow: inset 0.8rem 0.05rem 0.2rem -0.5rem var(--primary-color) /* fill, rotate, fade, fill */ , 
                    inset 0.4rem -0.01rem 0 0.1rem var(--secondary-color) /* fill, rotate, fade, right inner curve */;
        transition: .4s;
    }

    input:checked + .slider:before { /* sun icon */
    transform: translateX(0rem);
    box-shadow: inset 0.5rem 1rem 0.4rem -0.5rem var(--primary-color), 
                inset 1rem 2rem 0.3rem -0.6rem var(--secondary-color);
    }
    /* SWITCH END */

    /* INTRODUCTION STYLE */
    .section-intro {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
    }
    .intro-content1 {
        width: 0%;
        margin: 3rem 0 4rem 0;
    }

    .intro-content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem !important;
    }

    .intro-content2 .intro-title{
        font-size: 2.65rem;
    }

    .intro-title {
        text-align: center;
    }
    /* INTRODUCTION STYLE END */

    /* DEFAULT STYLE */ 
    .section-intro, .intro-content2, #about, #education, #projects, #contact, .contact-content1, .section-footer  {
        width: 100%;
        margin: 0;
        padding: 4rem 2.5rem;
    }

    .about-content1, .about-content2, .education-content1, .education-content2, .contact-content1, .projects-content1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .intro-content2, .about-content2, .section-education, .contact-content2, .projects-content2 {
        justify-content: left;
        align-items: left;
        margin: 0;
        padding: 0;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-about, .section-education {
        flex-direction: column;
    }
    /* DEFAULT STYLE END */ 


    /* ABOUT STYLE */
    .tools-content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    } 

    .tools-list > li{
        gap: 0 1rem;
    }

    .about-avatar {
        display: none;
    }
    /* ABOUT STYLE END */ 

    /* EDUCATION STYLE */ 
    .section-education {
        flex-direction: column;
    }

    #education-timeline ul::before{
        height: 45%;
    }
    /* EDUCATION STYLE END */ 


    /* PROJECTS STYLE */ 
    .projects-gallery {
        overflow: hidden;
        width: 88vw;
        margin: 2rem 0 0 -2rem;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: 1rem 2rem;
        width: 480vw;
    }
      
    .slide {
        width: 80vw;
        margin: 0;
        margin-left: 0.5rem;
        transition: .5s;
    }
      
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
      
    #slide2:checked ~ .s1{
        margin-left: -80vw;
    }
      
    #slide3:checked ~ .s1{
        margin-left: -162vw;
    }

    .bar.mobile{
        display: block;
    }

    #slide4:checked ~ .s1{
        margin-left: -244vw;
    }

    #slide5:checked ~ .s1{
        margin-left: -326vw;
    }

    #slide6:checked ~ .s1{
        margin-left: -408vw;
    }
    /* PROJECTS STYLE END */

    /* FOOTER STYLE */
    .up-container{
       display: none;
    }
    /* FOOTER STYLE END */
}

@media screen and (max-width: 330px) {
    .header-title {
        height: 6rem;
        padding: 1rem 4rem 1rem 5rem;
        line-height: 2.1rem;
    }
    
    #toggle-button {
        margin-top: 1rem;
    }

    .switch-container {
        margin: 2rem 0;
    }

    /* ABOUT STYLE */
    #tabbed-skills-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 0;
    }

    #tabbed-skills-list li.active { /* button skills active */
        background: linear-gradient(to left, var(--primary-color), var(--secondary-color)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent; 
    }

    #tabbed-skills-list li {
        padding: 0;
        margin: 0;
    }

    .about-avatar {
        width: 12rem;
        height: 12rem;
    }
    /* ABOUT STYLE END */


    /* CONTACT STYLE */
    .contact-items > a {
        font-size: 0.85rem;
    }

    .contact-icons {
        display: none;
    }
    /* CONTACT STYLE END */
}