@media screen and (max-width: 700px) {
    html, body {
        overflow-x: hidden;
    }


    .title-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--light);
        background: var(--dark);
        padding: 0.75rem;
        box-shadow: 0 0 0.5rem var(--dark-blue); 
        z-index: 3;
    }

    body.light-mode .title-header {
        color: var(--dark);
        background: var(--light);
        box-shadow: 0 0 0.3rem var(--grayl); 
    }

    /* TOGGLE MENU STYLE */
    #toggle-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        position: fixed;
        margin: 0;
        background: var(--dark);
        z-index: 2;
    }

    body.light-mode #toggle-bar {
        background: var(--light);
    }

    #toggle-button, body.light-mode #toggle-button {
        position: fixed;
        top: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        background: transparent;
        z-index: 4;
    }

    #toggle-button-icon::before { /* line top */
        content: '';
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0;
        background: currentColor;
        margin-top: -0.71rem;
        transition: .6s;
    }
      
    #toggle-button-icon { /* line center */
        border-top: 0.2rem solid;
        border-radius: 0;
        width: 1.5rem;
        height: 0.2rem;
        color: var(--light);
    }

    body.light-mode #toggle-button-icon{
        color: var(--dark);
    }
      
    #toggle-button-icon::after { /* line end */
        content: '';
        display: block;
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0;
        background: currentColor;
        margin-top: 0.8rem;
        transition: .6s;
    }

    #toggle-bar.active #toggle-button-icon::before {
        transform: rotate(-135deg);
        margin-top: 0;
    }
      
    #toggle-bar.active #toggle-button-icon::after {
        transform: rotate(135deg);
        margin-top: -0.2rem;
    }

    #toggle-nav {
        display: none;
    }

    #toggle-bar.active #toggle-nav{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: left;
        z-index: 2;
        background: var(--dark);
        animation: down-menu 1s;
    }

    body.light-mode #toggle-bar.active #toggle-nav{
        background: var(--light);
        animation: down-menu 1s;
    }

    #toggle-bar.active #toggle-menu-list{
        animation: down-menu 1s;
    }
      
      @keyframes down-menu {
        from {
          transform: translateY(-20rem);
        }
        to {
          transform: translateY(0);
        }
    }

    #toggle-menu-list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 1rem 0 0 -2rem;
        z-index: 1;
    }

    #toggle-menu-list li {
        margin-top: 1rem;
    }

    .toggle-menu-icons i{
        display: none;
    }

    .toggle-menu-text{
        display: none;
        background: transparent; 
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        white-space: nowrap;
        color: var(--white);
    }


    .toggle-menu-text:hover{
        background: linear-gradient(to left, var(--primary-color), var(--secondary-color)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent; 
    } 

    #toggle-bar.active .toggle-menu-text{
    display: flex;
    }

    body.light-mode .toggle-menu-text {
        background: transparent; 
        color: var(--black);
    }

    body.light-mode .toggle-menu-text:hover{
        background: linear-gradient(to left, var(--secondary-color-light), var(--primary-color-light)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent; 
    } 

    /* TOGGLE MENU END */

    /* SWITCH STYLE */
    .switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.2rem;
    z-index: 3;
    position: absolute;
    left: 0;
    margin: 0.9rem 4.5rem 0 0;
    }

    .switch { /* switch button box */
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    }

    .switch input { /* remove style default */
    appearance: none;
    }

    .slider { /* dark mode */
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    cursor: pointer;
    background: var(--dark-blue);
    border: 0.025rem solid var(--dark);
    border-radius: 1rem;
    box-shadow: inset 0 0 0.05rem var(--grayd);
    transition: .4s;
    }

    .slider::before{  /* moon icon */
        position: absolute;
        content: " ";
        width: 1.1rem;
        height: 1.1rem;
        left: 0.16rem;
        bottom: 0.15rem;
        border-radius: 1rem;
        box-shadow: inset 0.8rem 0.05rem 0.2rem -0.5rem var(--primary-color) /* fill, rotate, fade, fill */ , 
                    inset 0.4rem -0.01rem 0 0.1rem var(--secondary-color) /* fill, rotate, fade, right inner curve */;
        transition: .4s;
    }

    input:checked + .slider:before { /* sun icon */
    transform: translateX(0rem);
    box-shadow: inset 0.5rem 1rem 0.4rem -0.5rem var(--primary-color-light), 
                inset 1rem 2rem 0.3rem -0.6rem var(--secondary-color-light);
    }
    /* SWITCH END */

    /* INTRODUCTION STYLE */
    #home {
        display: flex;
        flex-flow: row wrap;
    }
    .intro-content1 {
        width: 100%;
        height: 30rem;
        align-items: center;
        margin: 3rem 0 4rem 0;
    }

    .intro-content2 {
        justify-content: center;
        align-items: center;
    }

    .intro-content2 .intro-title{
        font-size: 2.65rem;
    }

    .intro-title {
        text-align: center;
    }
    /* INTRODUCTION STYLE END */

    /* DEFAULT STYLE */ 
    #home, .intro-content2, #about, #education, #projects, #contact, .contact-content1, .section-footer  {
        width: 100%;
        margin: 0;
        padding: 4rem 2.5rem;
    }

    .about-content1, .education-content1, .education-content2, .contact-content1, .projects-content1 {
        margin: 0;
        padding: 0;
    }

    .intro-content2, .about-content2, .section-education, .contact-content2, .projects-content2 {
        justify-content: left;
        align-items: left;
        margin: 0;
        padding: 0;
    }

    .section-title {
        font-size: 2rem;
    }
    /* DEFAULT STYLE END */ 


    /* ABOUT STYLE */
    .tools-content {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    } 

    .tools-list > li{
        gap: 0;
    }

    .about-avatar {
        display: none;
    }
    /* ABOUT STYLE END */ 

    /* EDUCATION STYLE */ 
    #education-timeline ul::before{
        height: 45%;
    }
    /* EDUCATION STYLE END */ 


    /* PROJECTS STYLE */ 
    #projects-list {
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
    }

    .pcard-footer {
        flex-flow: row wrap;
        align-items:center;
        justify-content: space-around;
        padding: 1rem;
        gap: 0.5rem;
    }
    /* PROJECTS STYLE END */

    /* FOOTER STYLE */
    .up-container{
       display: none;
    }
    /* FOOTER STYLE END */
}

@media screen and (max-width: 330px) {
    .title-header {
        height: 6rem;
        padding: 1rem 4rem 1rem 5rem;
        line-height: 2.1rem;
    }
    
    #toggle-button {
        margin-top: 1rem;
    }

    .switch-container {
        margin: 2rem 0;
    }

    /* ABOUT STYLE */
    #tabbed-skills-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 0;
    }

    #tabbed-skills-list li.active { /* button skills active */
        background: linear-gradient(to left, var(--primary-color), var(--secondary-color)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent; 
    }

    #tabbed-skills-list li {
        padding: 0;
        margin: 0;
    }

    .about-avatar {
        width: 12rem;
        height: 12rem;
    }
    /* ABOUT STYLE END */


    /* CONTACT STYLE */
    .contact-items > a {
        font-size: 0.85rem;
    }

    .contact-icons {
        display: none;
    }
    /* CONTACT STYLE END */
}